/* Timeline Container  */
.tContainer {
  margin-top: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  position: relative;
  background: #383c3f;
  /* background: linear-gradient(0deg,rgb(56, 60, 63) 0, rgb(243, 196, 173) 5px, rgb(223, 160, 208) 100%); */
  color: #383c3f;
  /* background: white; */
}

.lineThing {
  background-color: #e17b77;
  box-shadow: 2px 0px 4px -1px rgba(0,0,0,0.3), 4px 0px 5px 0px rgba(0,0,0,0.2), 1px 0px 10px 0px rgba(0,0,0,0.2);
  content: '';
  position: absolute;
  margin-left: calc(50% - 1.5px);
  width: 4px;
  top: 0;
  bottom: 0;
}

.headline {
  display: inline-block;
  margin: .25em 0;
  font-size: 1.1em;
}

a, a:hover, a:visited {
  text-decoration: inherit;
  color: inherit;
}

.dot {
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 15px;
  /* background-color: #e17b77; */
  position: absolute;
  top: calc(50% - 15px);
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.3), 0px 4px 5px 0px rgba(0,0,0,0.2), 0px 1px 10px 0px rgba(0,0,0,0.2);
}

.jobItem > .dot {
  right: calc( -3em - 20px);
  background-color: #dd60db;
}

.educationItem > .dot {
  left: calc( -3em - 20px);
  background-color: #ddbe60;
}

.jobItem, .educationItem {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.3), 0px 4px 5px 0px rgba(0,0,0,0.2), 0px 1px 10px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  position: relative;
  width: 40%;
  max-width: max-content;
  text-align: right;
  margin: 3px 3em;
  padding: .5em 1em;
  /* color: white;  */
  color: #383c3f;
  /* background-color: white; */
}

.educationItem {
  margin: 1em 2em 1em calc(50% + 3em);
  border-left: #ddbe60 solid 5px;
  text-align: left;
  background-color: #dfd0a5;
}

.educationItem::before, .jobItem::after {
  content: '';
  position: absolute;
  top: calc(50% - 20px);
  border-top: transparent solid 20px;
  border-bottom: transparent solid 20px;
}

.educationItem::before {
  border-right: #ddbe60 solid 15px; /* whatever color parent is */
  left: -15px;
}

.jobItem {
  margin: 1em calc(50% + 3em) 1em auto;
  border-right: #dd60db solid 5px;
  background-color: #dba3da;
}

.jobItem::after{
  border-left: #dd60db solid 15px; /* whatever color parent is */
  right: -15px;
}
