.jobItem, .educationItem {
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.3), 0px 4px 5px 0px rgba(0,0,0,0.2), 0px 1px 10px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  position: relative;
  width: 40%;
  max-width: max-content;
  text-align: right;
  margin: 3px 3em;
  padding: .5em 1em;
}

.educationItem {
  margin: 1em 2em 1em calc(50% + 3em);
  border-left: #ddbe60 solid 5px;
  text-align: left;
}

.educationItem::before, .jobItem::after {
  content: '';
  position: absolute;
  top: calc(50% - 20px);
  border-top: transparent solid 20px;
  border-bottom: transparent solid 20px;
}

.educationItem::before {
  border-right: #ddbe60 solid 15px; /* whatever color parent is */
  left: -15px;
}

.jobItem {
  margin: 1em calc(50% + 3em) 1em auto;
  border-right: #dd60db solid 5px;
}

.jobItem::after{
  border-left: #dd60db solid 15px; /* whatever color parent is */
  right: -15px;
}

.dot {
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 15px;
  /* background-color: #e17b77; */
  position: absolute;
  top: calc(50% - 15px);
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.3), 0px 4px 5px 0px rgba(0,0,0,0.2), 0px 1px 10px 0px rgba(0,0,0,0.2);
}

.jobItem > .dot {
  right: calc( -3em - 20px);
  background-color: #dd60db;
}

.educationItem > .dot {
  left: calc( -3em - 20px);
  background-color: #ddbe60;
}

.tContainer {
  margin-top: 0;
  position: relative;
  width: calc(100% - 75px);

}

.lineThing {
  background-color: #e17b77;
  box-shadow: 2px 0px 4px -1px rgba(0,0,0,0.3), 4px 0px 5px 0px rgba(0,0,0,0.2), 1px 0px 10px 0px rgba(0,0,0,0.2);
  content: '';
  position: absolute;
  margin-left: calc(50% - 1.5px);
  width: 4px;
  top: 0;
  bottom: 0;
}
